.generation-one-container, .generation-two-container {
    margin: 20px;
}

.active {
    background-color: rgb(179, 222, 229);
}

.PatternDescription-pattern {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

.triangle {
    margin-bottom: 3px;
}

.literally-core-container {
    border-style: inset;
    margin-top: 10px;
}

/* Elements generation one */
.pencil, .eraser, .line, .rectangle, .ellipse, .arrow, .text, .undo, .redo, .triangle {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.next-stage-button {
    display: flex;
    justify-content: flex-end;
}

.representations-buttons {
    display: flex;
    justify-content: center;
}

.tool-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
}

.undo-redo {
    text-align: center;
}
