.stage-1-container {
    margin: 20px;
}

.active {
    background: yellow;
}

.PatternDescription-pattern {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

.triangle {
    margin-bottom: 3px;
}

.literally-core-container {
    border-style: inset;
    margin-top: 10px;
}

/* Elements generation one */
.pencil, .eraser, .line, .rectangle, .ellipse, .arrow {
    width: 40px;
    height: 40px;
}
